# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List libraries in Data Science
* List Open Source Tools for Data Scientists
* Arithmetic expressions examples

__Some of the popular languages that Data Scientists use are:__
- Python
- R
- SQL
- Julia
- SCALA
- JavaScript
- C++

__Some of the commonly used libraries used by Data Scientists include:__
1. Numpy
2. Pandas
3. Tensorflow
4. Matplotlib
5. Keras
6. Pytorch
7. Seaborn
8. Scikit Learn

__Some of the commonly used data science open source tools:__

|Data Science Tools|
|------------------|
|MySQL|
|Apache AirFlow|
|Hue|
|Tensorflow Lite|
|AI Explainability 360 |

### Below are a few examples of evaluating arithmetic expressions in Python
|Expressions|Note|
|--------------------|----|
|(2+4) * (4+6) |**+-x/**|
|2**3|**power**|
|2<<3|**shift left**|

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60
a=200/60
print("200 minutes","is", a, "hours")

200 minutes is 3.3333333333333335 hours

## Author
theNomadCat